{% extends "base.html" %}

{% block content %}
<div class="profile-wrapper">

    <div class="profile-banner">
        <span class="profile-icon">🔒</span>
        <h2>CHANGE PASSWORD</h2>
    </div>

    <div class="profile-box">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="error-box">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}

        <form method="POST" class="profile-edit-form">

            <label>Old Password</label>
            <input type="password" name="old_password" required>

            <label>New Password</label>
            <input type="password" name="new_password" required>

            <button class="btn yellow" type="submit">Save Changes</button>
        </form>

    </div>

</div>
{% endblock %}
